.containerMain{
    flex: 1;
    background-color: transparent;
    width: 170vh;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 300px;
    margin-top: 10px;

}

.imagenesArray {
    display: flex;
    flex-wrap: wrap; /* Hace que las imágenes se envuelvan a la siguiente línea si no hay suficiente espacio */

  }
  
 
  p{
    color: green;
    font-size: 25px

  }

  .imagenWrapper {
    
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* offsetX offsetY blurRadius color */

  }
  .imagenWrapper img {
    
    width: 90%; /* Ajusta el ancho de cada imagen según tus necesidades */
    height: 30vh;
    margin: 10px; /* Agrega un margen entre las imágenes */
    border-radius: 90px  10px 5px;
  }
  .imagenWrapper p {
    width: 100px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.4); /* Ajusta el color y la opacidad según tus necesidades */

    display: none;
  }
  .imagenWrapper.selected {
    
    width: auto;
    height: 400px;
    transition: width 0.7s;
  }
  
  .imagenWrapper.selected p {
    display: block;
  }

  @media (max-width: 768px) {
    .containerMain {
      width: 100%;
      margin-top: 200%;
      margin-left: 20px;
    }
  
    .imagenesArray {
      justify-content: center;
      
    }
  }