

.modal{
    
    width: 100%;
    height: 100vh;
    position: fixed;
    min-width: 400px;
    display: none;
}
.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 400px;
    background-color: white;
    border-radius: 1rem;
    position: relative;
    padding: 1rem;
    
}

.modal-close{
    position: absolute;
    top: 0; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 0; /* Ajusta la distancia desde la derecha según tus necesidades */
    cursor: pointer;
  margin: 1rem;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.openModal-display{
    display:flex;
    justify-content: center;
    align-items: center;
}