.navbar {
  display: flex;
 justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(255,0,0, 0.5 );
    
  }

    .navbar ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 30vh;
      
      }
      
      .navbar ul li {
        margin-right: 20px; /* Espacio entre elementos */

      }
      
      .navbar a {
        text-decoration: none;
        color: white;
        font-size: 16px;
      }
      .mobile-menu-toggle{
        display: none;
      }

      .navbar a:hover {
        background-color: #555;
    }
    
    /* Estilo para el enlace activo */
    .navbar a.active {
        background-color: #4CAF50;
    }

    .carrito{
      position: fixed;
    top: 20px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 20px; /* Ajusta la distancia desde la derecha según tus necesidades */
    cursor: pointer;
  }

  .containerHome {
    position: relative;
  }
  
  .submenu {
    display: none;
    position: absolute;
    margin-top:-250px;
    left: 40px;
    background-color: rgba(48, 44, 44, 0.4);
    padding: 10px;
    border: 1px solid #ccc;
    width: 300px;
    height: 50vh;
  }

  .submenu .submenu1{
    font-size: 100px;
  }
  
  .menu-item:hover .submenu {
    display: block;
  }
      
      /* Estilos para dispositivos móviles */
      @media only screen and (max-width: 767px) {

        .navbar{
          display: block;
        right: 0;
        width: 100px;
        height: auto;
         background-color: transparent;
            
        }

        .navbar ul {
          
          font-size: 80px;
          display: none;
          width: 60px;
          margin: 20px;
          flex-direction: column;
          border-radius: 20px 10px 20px 50px;
          background-color: rgba(48, 44, 44, 0.4); /* Ajusta el color y la opacidad según tus necesidades */

        }
      
        .navbar.mobile-menu-open ul {
          display: flex;
        }
      
        .navbar .mobile-menu-toggle {
          display: block;
          cursor: pointer;
          font-size: 20px;
          margin-right: 30px;
          font-size: 30px;
        }
      }

      

      