:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  background-color: white;
  /*background-image: url('/img/imagenes/accesorios-mascotas-concepto-naturaleza-muerta-cuencos-varios-tamanos.jpg'); */
  
background-image:  no-repeat center center fixed;
background-size: cover;

}






